.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: var(--primary-default-layout-width);
  min-height: 100vh;
  display: flex;
}

.content {
  flex: 1;
}
